

<input [owlDateTime]="dt1"  [(ngModel)]="selectedMoment" [owlDateTimeTrigger]="dt1" placeholder="Date Time">

<owl-date-time #dt1 (afterPickerClosed)="dateChanged($event)"  ></owl-date-time>
{{selectedMoment}}
<!-- <owl-date-time-inline [(ngModel)]="selectedMoment"></owl-date-time-inline>
 {{selectedMoment}} -->

  <ul>
    <li>
      1 - https://www.npmjs.com/package/ng-pick-datetime
    </li>
    <li>
      2- Add this for in project otherwise will get error
npm install --save @angular/material @angular/cdk
link : https://stackoverflow.com/questions/46885008/i-am-new-to-angular-i-just-installed-angular-material-and-angular-animations-in
    </li>
    <li>
      3 - npm install @angular/animations
//import barcket BrowserAnimationsModule  from '@angular/platform-browser/animations';
link :
    </li>
    <li>
      4 - then update these
npm i @angular/cdk@11.2.10 @angular/compiler-cli@11.2.11 @angular/material@11.2.10 rxjs@6.6.7 --save
make sure to use your version
    </li>
  </ul>








